/* GENERAL */

html, body {
  min-width: 640px;
  margin: 0; padding: 0; border: 0;
  background-color: #F7F7F7;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  color: #222;
}

html {
    overflow-y: scroll; /* force to prevent inevitable jump */ 
}

a {
  text-decoration: none;
}

.masthead {
  position: relative;
  font-weight: 300;
  font-size: 48px;
  color: #444;
}

.masthead-directory {
  top: 20px; left: 0px;
}

.masthead-results {
  top: 0px; left: 0px;
}

.ui-autocomplete {
    z-index: 1005;
}

.horizontal-region {
  display: block;
  position: relative;
  width: 100%;
}

.content {
  display: block;
  position: relative;
  width: 82%; /* based on map-to-background ratio*/
  margin-left: auto;
  margin-right: auto;
}

.nav {
  background-color: #FFFFFF;
  height: 100px;
  z-index: 4;
}

.main {
  background-color: #000000;
  z-index: 3;
}

.list {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px #DDD;
  padding: 40px 0 40px 0;
  z-index: 2;
}

.foot {
  padding: 40px 0 40px 0;
}

.feedback, .credits {
  display: inline-block;
  font-size: 0.8em;
  color: #777;
  opacity: 0.4;
  transition: all 0.4s;
}

.credits  { float: left;  }
.feedback { float: right; }

.foot:hover .feedback, .foot:hover .credits {
  opacity: 1.0;
}

/* NAV */

.nav-box {
  display: block;
  position: absolute;
  top: 20px;
  height: 60px;
  background-color: rgba(255,255,255,0);
  border: solid 2px #000;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.4s;
}

.magnifying-glass { right: 0px; }
/* ...others here... */

.nav-box:hover {
  opacity: 0.7;
}

.nav-icon {
  height: 40px;
  margin: 10px;
}

/* MODAL */

.modal {
  z-index: 10001;
}

.darkness {
  position: fixed;
  height: 100%; width: 100%;
  background-color: black;
  z-index: 1000;
  opacity: 0.5;
}

.search {
  display: inline-block;
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  z-index: 1001;
}

.search-box,
.search-btn {
  display: inline-block;
  position: absolute;
  top: 0px;
  border-radius: 32px; 
}

.search-box {
  left: 0px;
  width: 558px;
  border: solid 3px #DDD;
  padding: 12px 18px;
  outline: 0;
  font-size: 21px;
  font-weight: 300;
}

.search-btn {
  right: 3px; top: 3px;
  width: 120px;
  padding: 14px;
  background-color: #222;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 0;
  transition: all 0.2s;
}

.search-btn:hover {
  background-color: #111;
}

.autocomplete-list {
  position: absolute;
}

/* ... */

.map-wrapper {
    width: 100%;
    display: block;
    position: relative;
}
.map-wrapper:after {
    padding-top: 37.5%; /* 8:3 ratio */
    display: block;
    content: '';
}

.map {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 10; /* to appear in front of bg elements */
}

.btn {
  position: relative;
  display: block;
  width: 200px;
  padding: 3px 13px;
  background-color: white;
  text-align: left;
  color: #222;
  border: 0;
  cursor: pointer;
}

.btn .circ {
  position: absolute;
  top: 4px;
  height: 10px; width: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn.active .circ {
  position: absolute;
  top: 4px;
  height: 0px; width: 0px;
  border-radius: 10px;
  border-width: 7px;
}

.btn .text {
  display: inline;
  position: relative;
  left: 30px;
  color: #777;
}

.btn.active .text {
  color: #222;
}

.circ-lounges    { border: solid 2px #00AEEF; }
.circ-kitchens   { border: solid 2px #662D91; }
.circ-firestairs { border: solid 2px #D96069; }
.circ-facilities { border: solid 2px #FFDE17; }
.circ-laundry    { border: solid 2px #8DC63F; }
.circ-elevators  { border: solid 2px #009444; }
.circ-dining     { border: solid 2px #603913; }

.controls {
  margin-top: 15px;
}

/* RESULTS */

.results {
  z-index: 1000;
  overflow-x: hidden;
  padding-top: 20px;
}

.results-explanation {
  margin-top: 5px;
  margin-left: 2px;
  color: #777;
}

.result {
  display: block;
  cursor: pointer;
  background-color: white;
  padding: 6px 12px 8px 12px;
  font-size: 12px;
}

.result:hover {
  background-color: #0645ad;
  color: #FFFFFF;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.ui-autocomplete {
  list-style-type: none;
  max-width: 458px;
  overflow: hidden;
  padding-top: 3px;
  padding-left: 21px;
}

.ui-autocomplete .ui-menu-item {
  background-color: white;
  padding: 10px;
}

.ui-autocomplete .ui-menu-item:first-child { border-radius: 5px 5px 0px 0px; }
.ui-autocomplete .ui-menu-item:last-child  { border-radius: 0px 0px 5px 5px; }
.ui-autocomplete .ui-menu-item:only-child  { border-radius: 5px 5px 5px 5px; }

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #eee;
}

.ui-helper-hidden-accessible {
  display: none;
}

/* SKY */

.bg {
  position: absolute;
  top: 0px; left: 0px;
  height: 100%; width: 100%;
}

/* svg itself is z-index: 10; */

.simmons-night { z-index: 7; opacity: 0; }
.simmons-day   { z-index: 6; opacity: 1; }
.extras        { z-index: 6; opacity: 1; }

.sky-golden    { z-index: 5; opacity: 0; }
.sky-night     { z-index: 4; opacity: 0; }
.sky-dusk      { z-index: 3; opacity: 0; }
.sky-cloudy    { z-index: 2; opacity: 0; }
.sky-clear     { z-index: 1; opacity: 1; }

.gear {
  display: block;
  position: absolute;
  width: 2.0%; height: 5.2%; /* approximates 8:5 ratio of map */
  bottom: 3.2%; right: 8.0%;
  padding: 1%;
  cursor: pointer;
  z-index: 500;
}

.gear-icon {
  position: relative;
  width: 100%;
  opacity: 0.2;
  transition: all 0.2s;
}

.gear:hover .gear-icon {
  opacity: 0.7;
}

.map-preferences {
  display: block;
  position: absolute;
  width: 360px;
  left: 50%;
  margin-left: -200px;
  z-index: 1001;
  padding: 20px;
  background-color: #FFF;
  border-radius: 3px;
}

.map-preferences-masthead {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
}

.map-preferences-instructions {
  font-weight: 300;
  font-size: 18px;
  color: #777;
}

th {
  cursor: n-resize;
  background-color: #eee;
}